name: Docker Scout Reports

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 1"

permissions:
  contents: read

jobs:
  docker-scout:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        image:
          - name: central
            tag: alpha
          - name: poller
            tag: poller-alpha
          - name: base2
            tag: base2
          - name: base2-slim
            tag: base2-slim
          - name: base2-poller
            tag: base2-poller
          - name: builder-go
            tag: builder-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }

      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Run Docker Scout (CVEs)
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.18.2
        with:
          command: cves
          image: fognetx/uptime-kuma-distributed:${{ matrix.image.tag }}
          sarif-file: scout-${{ matrix.image.tag }}.sarif.json

      - name: Upload report artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: scout-${{ matrix.image.tag }}
          path: scout-${{ matrix.image.tag }}.sarif.json
          retention-days: 30
